p.one{
    border-style: solid;
    border-color: green;
    border-width: 3px;
    width: 130px;
    height: 50px;
    text-align: center;
    font-size: 10px;
    margin: auto;
}
p.two{
    width: 60px;
    border-style: groove;
    border-color: red;
    text-align: center;
    border-width: 5px 7px 3px 2px;
    padding: 5px;
    font-family: monospace;
    margin-left: 100px;
    margin-right: 100px;
}
