h3 , h2 , h1{
    font-family: sans-serif;
    text-align: center;
    text-decoration: underline;
}

.quaid_e_azam_mazar{
    background-color:##ffffff;
    height: 570px;
    width: 1020px;

}
.bgimg {
    /* background-image: url('stock_images/page_wallpaper_2.jpeg'); */
    background-color: #e3e4e6;
}
.TouristTitle{
    color:#f59971;
    font-family:sans-serif;
    font-size: 40px;
}
.TitleInTable{
    border-color:#514846;
    border-collapse:  collapse;
    background-color: #dcdce6;
    width: 55%;
    text-align: center;
}
 figure{
    margin: auto;
    text-align: center;

    /* align-items: center; */
    /* width: 950px;
    height: px; */
}
figcaption{
    /* background-color:#f59971; */
    font-family: monospace;
    width: 600px;
    text-align: center;
    margin: auto;
    font-size: 18px;
    border: 3px solid #514846;
    /* padding-left: auto;
    padding-right: auto; */
}
img{
    height: 400px;
    width: 600px;
    border: 5px solid #514846;
    padding-left: 0px;
    padding-right: 0px;
}
.page_middle_ground{
    background-color:white;
    width: 55%;
}
.first-paragraph{
    align-items: center;
    align-self: center;
    align-content: center;
    line-height: 20px;
    margin: auto;
    width: 1000px;
    text-align: center;
    font-family: monospace;
    color: rgb(18,20,22);
    font-size: 20px;
}
.MainList{

}
